<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col class="text-right">
                <button cButton color="primary" routerLink="register">Register New Manager</button>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col>
                <form [formGroup]="form" (ngSubmit)="filter()">
                    <div cFormFloating>
                        <input cFormControl formControlName="search" name="search" type="search" placeholder="Search by username, email or name" autofocus>
                        <label cLabel for="search">Search by username, email or name</label>
                    </div>
                </form>
            </c-col>
        </c-row>
        <hr>
        <c-row>
            <c-col>
                <table cTable hover>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Full name</th>
                            <th>Branch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isLoading else showResult">
                            <td colspan="5" class="text-center my-2">
                                <c-spinner aria-hidden="true" label="Loading..."></c-spinner>
                            </td>
                        </tr>
                        <ng-template #showResult>
                            <tr *ngFor="let i of page.items" [ngClass]="{'table-dark': !i.enabled}">
                                <td>
                                    <app-user-active-switch [user]="i"></app-user-active-switch>
                                </td>
                                <td [routerLink]="[i.id]">{{i.username}}</td>
                                <td [routerLink]="[i.id]">{{i.email}}</td>
                                <td [routerLink]="[i.id]">{{i.fullName}}</td>
                                <td>{{i.branchName}}</td>
                            </tr>
                            <tr *ngIf="page.items.length == 0">
                                <td colspan="5" class="text-center">
                                    Empty
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
                <pagination [totalItems]="page.total" [(ngModel)]="page.number" 
                 (pageChanged)="onPageChange($event)"></pagination>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>

