<div class="bg-light min-vh-100 d-flex align-items-center">
  <c-container fluid>
    <c-row class="justify-content-center">
      <c-col lg="6" xs="12">
        <c-card-group class="d-flex flex-column flex-md-row">
          <c-card class="p-md-4 p-sm-2">
            <c-card-body>
              <c-alert [color]="alert.type" [(visible)]="alert.visible" [dismissible]="true">
                <h6 cAlertHeading>{{alert.title}}</h6>
                <p class="m-0" *ngIf="alert.message">{{alert.message}}</p>
              </c-alert>
              <form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <fieldset [disabled]="isLoading">
                  <div cFormFloating class="mb-3">
                    <input formControlName="username" cFormControl [valid]="form.controls['username'].valid"
                      id="username" placeholder="enter your username or email" autofocus>
                    <label cLabel id="username">Username</label>
                    <app-input-error [control]="form.controls['username']"></app-input-error>
                  </div>
                  <div cFormFloating class="mb-3">
                    <input formControlName="password" cFormControl [valid]="form.controls['password'].valid"
                      id="password" placeholder="password" type="password">
                    <label cLabel id="password">Password</label>
                    <app-input-error [control]="form.controls['password']"></app-input-error>
                  </div>
                  <c-row>
                    <c-col xs="6">
                      <button cButton type="submit" color="primary">
                        <span *ngIf="isLoading else elseBlock">
                          <c-spinner aria-hidden="true" size="sm"></c-spinner>
                          Logging in...
                        </span>
                        <ng-template #elseBlock>
                          Login
                        </ng-template>
                      </button>
                    </c-col>
                    <c-col xs="6" class="d-flex justify-content-end">
                      <button cButton routerLink="/forget/password" type="button" class="px-0" color="link">
                        Forgot password?
                      </button>
                    </c-col>
                  </c-row>
                </fieldset>
              </form>
            </c-card-body>
          </c-card>
          <c-card class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>