<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container class="position-relative">
  <c-container class="d-flex flex-md-row flex-column align-items-center gap-2">
    <c-sidebar-brand [brandFull]="brandFull" routerLink="" class="bg-white mx-md-0 mx-auto">
    </c-sidebar-brand>
    <c-nav class="d-flex gap-2 flex-row align-self-stretch align-items-center justify-content-center" variant="pills">
      <c-nav-item>
        <a routerLink="/public/menu" cNavLink routerLinkActive="active">Menu</a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="/public/deals" cNavLink routerLinkActive="active">Deals</a>
      </c-nav-item>
      <c-nav-item>
        <a routerLink="/public/promos" cNavLink routerLinkActive="active">Promos</a>
      </c-nav-item>
    </c-nav>
    <span class="d-flex flex-row gap-2 align-self-stretch align-items-center">
      <c-header-nav class="d-flex gap-2 me-auto">
        <c-nav-item>
          <button cButton (click)="selectBranch()" color="light">
            <svg cIcon name="cilLocationPin"></svg>
            <span *ngIf="branch else elseBlock">
              {{branch.name}}
            </span>
            <ng-template #elseBlock>
              Select Branch
            </ng-template>
          </button>
        </c-nav-item>
        <c-nav-item>
          <button toggle="visible" cButton cSidebarToggle="sidebarId" class="position-relative" color="light">
            <svg cIcon name="cilCart"></svg>
            <span *ngIf="totalItemsInCart" class="position-absolute top-0 start-100 translate-middle">
              <c-badge color="primary" shape="rounded-pill" size="sm">{{totalItemsInCart}}</c-badge>
            </span>
          </button>
        </c-nav-item>
      </c-header-nav>
      <c-header-nav class="d-flex" *ngIf="user else nonAuthBlock">
        <c-nav-item>
          <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
        </c-nav-item>
      </c-header-nav>
      <ng-template #nonAuthBlock>
        <c-header-nav class="">
          <c-nav-item>
            <a routerLink="/register" cNavLink>
              Register
            </a>
          </c-nav-item>
          <c-nav-item>
            <a routerLink="/login" cNavLink>
              Login
            </a>
          </c-nav-item>
        </c-header-nav>
      </ng-template>
    </span>

  </c-container>
  <!-- <c-container fluid="" class="px-0 mt-2 position-relative ">
    <img src="http://localhost:3000/images/3cee6e86415a27eab3c3176287fb1c07.jpg" class="img-banner">
    <c-card class="border-0 position-absolute top-50 start-50 translate-middle bg-transparent fill-available mh mw">
      <c-card-body class="d-flex flex-row justify-content-between p-0 ">
        <button cButton class="rounded-0" color="danger">
          <svg cIcon name="cilChevronLeft" size="sm"></svg>
        </button>
        <button cButton class="rounded-0" color="danger">
          <svg cIcon name="cilChevronRight" size="sm"></svg>
        </button>
      </c-card-body>
    </c-card>
  </c-container>
  <c-container class="pt-2 justify-content-start">
    <button cButton shape="rounded-circle" color="danger">
      <svg cIcon name="cilSearch" size="sm"></svg>
    </button>
    <c-header-nav class="d-flex flex-wrap">
      <c-nav-item *ngFor="let m of menus">
        <a routerLink="/public/menu" cNavLink routerLinkActive="active">{{m.title}}</a>
      </c-nav-item>
    </c-header-nav>
  </c-container> -->

  <!-- <c-header-divider></c-header-divider> -->
  <!-- <c-container>
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container> -->
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <span class="" *ngIf="user">
        {{user.fullName}}
      </span>
      <svg cIcon name="cilUser"></svg>
      <!-- <c-avatar cTextColor="primary" shape="rounded-1" size="md" src="./assets/img/avatars/8.jpg" status="success">
      </c-avatar> -->
    </button>
    <ul cDropdownMenu class="w-auto">
      <li *ngFor="let m of userMenus">
        <a routerLink="{{m.url}}" href="#" cDropdownItem>
          {{m.name}}
        </a>
      </li>
      <li>
        <hr cDropdownDivider>
      </li>
      <li>
        <a (click)="logout()" href="#" cDropdownItem>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>