<c-card *ngIf="isLoading else loadedBlock">
    <c-card-body>
        <c-spinner aria-hidden="true" label="Loading..." size="sm"></c-spinner> Loading...
    </c-card-body>
</c-card>
<ng-template #loadedBlock>
    <ng-template [ngIf]="menu" [ngIfElse]="emptyMenuBlock">
        <c-card>
            <c-card-body class="">
                <c-row>
                    <c-col sm="1" md="4">
                        <img *ngIf="menu.primaryImg" cImg rounded fluid [src]="menu.primaryImg">
                    </c-col>
                    <c-col sm="11" md="8">
                        <span class="d-flex justify-content-between">
                            <h3 cCardTitle>{{menu.title}}</h3>
                            <span class="d-flex gap-2 align-items-center">
                                <app-input-switch [status]="menu.isActive" [id]="menu.id" (onChange)="updateIsActive($event)"></app-input-switch>
                                <span>
                                    <a routerLink="edit" cButton color="light" size="sm">Edit</a>
                                </span>
                            </span>
                        </span>
                        <p cCardText>{{menu.description}}</p>
                    </c-col>
                </c-row>
            </c-card-body>
        </c-card>
        <c-card class="mb-4">
            <c-card-body class="d-flex d-grid gap-2 justify-content-between">
                <span>
                    <app-upload-button [loading]="updatingImage" loadingLabel="Updating..." (imageChange)="updateMenuImage($event)" label='Update Image'>
                    </app-upload-button>
                </span>
                <a routerLink="item/create" routerLinkActive="disabled" cButton>Add New Item</a>
            </c-card-body>
        </c-card>
    </ng-template>
    <ng-template #emptyMenuBlock>
        <c-card>
            <c-card-body>
                Menu Not Selected
            </c-card-body>
        </c-card>
    </ng-template>
</ng-template>