<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-body">
                    <form>
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>
                        <div class="form-group mb-3">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="youremail@domain.com" autocomplete="email" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="confirm-password">Confirm Password</label>
                            <input id="confirm-password" type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button routerLink="" type="button" class="btn btn-block btn-primary px-4">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                    <div>
                    <h2>Login</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button routerLink="/login" type="button" class="btn btn-primary active mt-3">Login Now!</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
