<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col class="">
                <span class="float-end">
                    <button cButton color="primary" routerLink="register">Register New Salesperson</button>
                </span>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col>
                <form [formGroup]="form" (ngSubmit)="filter()">
                    <div cFormFloating>
                        <input cFormControl formControlName="search" name="search" type="search" placeholder="Search by username, email or name" autofocus>
                        <label cLabel for="search">Search by username, email or name</label>
                    </div>
                </form>
            </c-col>
        </c-row>
        <c-row class="mt-3">
            <c-col *ngIf="isLoading else loadedBlock">
                <c-card *ngFor="let i of page.items">
                    <c-card-body>
                        <c-spinner size="sm"></c-spinner>    
                    </c-card-body>
                </c-card>
            </c-col>
            <ng-template #loadedBlock>
                <c-col>
                    <c-card *ngFor="let i of page.items" class="mb-1">
                        <c-card-body>
                            <span class="d-flex justify-content-between">
                                <span class="d-flex flex-grow-1 gap-2 align-items-center" [routerLink]="[i.id]">
                                    @{{i.username}}
                                    <h6 class="m-0">
                                        <span *ngIf="i.fullName">
                                            {{i.fullName}}
                                        </span>
                                    </h6>
                                </span>
                                <app-user-active-switch [user]="i"></app-user-active-switch>
                            </span>
                        </c-card-body>
                    </c-card>
                    <c-card *ngIf="page.items.length == 0">
                        <c-card-body>
                            Empty Block
                        </c-card-body>
                    </c-card>
                </c-col>
                <pagination class="mt-2" [totalItems]="page.total" [(ngModel)]="page.number" (pageChanged)="onPageChange($event)"></pagination>
            </ng-template>
            <!-- <c-col>
                <table cTable hover>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Full name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="isLoading else showResult">
                            <td colspan="4" class="text-center my-2">
                                <c-spinner aria-hidden="true" label="Loading..."></c-spinner>
                            </td>
                        </tr>
                        <ng-template #showResult>
                            <tr *ngFor="let i of page.items" [ngClass]="{'table-dark': !i.enabled}">
                                <td>
                                </td>
                                <td [routerLink]="[i.id]">{{i.username}}</td>
                                <td [routerLink]="[i.id]">{{i.email}}</td>
                                <td [routerLink]="[i.id]">{{i.fullName}}</td>
                            </tr>
                            <tr *ngIf="page.items.length == 0">
                                <td colspan="4" class="text-center">
                                    Empty
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
                
            </c-col> -->
        </c-row>
    </c-card-body>
</c-card>

