<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container fluid>
      <c-row class="justify-content-center">
        <c-col md="6">
            <c-card class="p-md-4 p-sm-3">
              <c-card-body>
                <c-alert [color]="alert.type"
                  [(visible)]="alert.visible"
                  [dismissible]="true">
                  <h6 cAlertHeading>{{alert.title}}</h6>
                  <p class="m-0" *ngIf="alert.message">{{alert.message}}</p>
                </c-alert>
                <form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
                  <h1>Forget Password</h1>
                  <p class="text-medium-emphasis">Send reset password link to your email</p>
                  <fieldset [disabled]="isLoading">
                    <div cFormFloating class="mb-3">
                      <input formControlName="username" cFormControl 
                        [valid]="form.controls['username'].valid"
                        id="username" placeholder="enter your username or email" autofocus>
                      <label cLabel id="username">Username</label>
                      <app-input-error [control]="form.controls['username']"></app-input-error>
                    </div>
                    <c-row>
                      <c-col class="">
                        <button cButton type="submit" color="primary">
                        <span *ngIf="isLoading else elseBlock">
                            <c-spinner aria-hidden="true" size="sm"></c-spinner>
                            Sending...
                        </span>
                        <ng-template #elseBlock>
                            Send reset password link
                        </ng-template>
                        </button>
                      </c-col>
                    </c-row>
                  </fieldset>
                </form>
              </c-card-body>
            </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  