<c-row class="" *ngIf="isLoading else elseBlock">
    <c-col class="">
        <c-spinner size="sm"></c-spinner>
        <span class="d-flex-inline my-auto">
            Loading...
        </span>
    </c-col>
</c-row>
<ng-template #elseBlock>
    <c-row class="justify-content-center">
        <c-col md="8">
            <c-row>
                <c-col>
                    <h4>@{{salesperson.username}}</h4>
                </c-col>
                <c-col xs="1">
                    <app-user-active-switch [user]="salesperson"></app-user-active-switch>
                </c-col>
            </c-row>
            <app-user-profile [user]="salesperson"></app-user-profile>
        </c-col>
    </c-row>
</ng-template>