<div class="animated fadeIn">
    <div class="row mb-4">
        <div class="col">
            <button routerLink="register" class="btn btn-primary pull-right">Register New Manager</button>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-body">
        </div>
    </div> -->
    <div class="card">
        <div class="card-body animated fadeIn" [collapse]="isCollapsed">
            <form [formGroup]="filterForm" (ngSubmit)="filter()">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="search">Search</label>
                        <input formControlName="search" class="form-control" type="search" placeholder="Search by username, email or full name">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <table class="table table-hover table-hover-link">
            <thead>
                <th>Username</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Branch</th>
            </thead>
            <tbody>
                <tr *ngIf="listLoading else elseBlock">
                    <td colspan="4" class="text-center">
                        <span class="fa fa-spinner fa-spin fa-pulse"></span>
                        Loading...
                    </td>
                </tr>
                <ng-template #elseBlock>
                    <tr *ngFor="let i of page.items" [ngClass]="{'text-muted': !i.enabled}">
                        <td [routerLink]="[i.id]" [ngClass]="{'disabled-chip-left': !i.enabled}">
                            {{i.username}}
                        </td>
                        <td [routerLink]="[i.id]">{{i.email}}</td>
                        <td [routerLink]="[i.id]">{{i.fullName}}</td>
                        <td>
                            <app-then-na [content]="i.branch"></app-then-na>
                        </td>
                        <td>
                            <span class="pull-right">
                                <label class="switch switch-sm switch-pill switch-primary m-0">
                                    <input [(ngModel)]="i.enabled" (ngModelChange)="onEnableChange($event, i)" type="checkbox" class="switch-input" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
        <div class="row p-3">
            <div class="col">
                <pagination [totalItems]="page.total" [(ngModel)]="page.number"
                    [itemsPerPage]="page.size" (pageChanged)="pageChanged($event)" class="m-0"></pagination>
            </div>
        </div>
    </div>
</div>