<div class="animated fadeIn">
    <div class="row" *ngIf="isLoading else elseBlock">
        <div class="col">
            <span class="fa fa-spinner fa-spin fa-pulse"></span>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="row">
            <div class="col">
                <h4>Branch</h4>
                <div class="card">
                    <div class="card-body">
                        <ng-template [ngIf]="isEditBranch" [ngIfElse]="branchFormBlock">
                            <form [formGroup]="branchForm" (ngSubmit)="saveBranch()">
                                <fieldset [disabled]="savingBranch">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input formControlName='name' class="form-control" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="code">Code</label>
                                        <input formControlName='code' class="form-control">
                                        <app-input-error-helper [control]="branchForm.controls.code"></app-input-error-helper>
                                    </div>
                                    <span class="pull-right">
                                        <button (click)="cancelEditBranch()" type="button" class="btn btn-light">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn btn-primary ">
                                            Save
                                        </button>
                                    </span>
                                </fieldset>
                            </form>                            
                        </ng-template>
                        <ng-template #branchFormBlock>
                            <span>Name</span>
                            <span class="pull-right">
                                <button (click)="editBranch()" class="btn btn-light btn-icon btn-sm ">
                                    <span class="fa fa-pencil"></span>
                                </button>
                            </span>
                            <h3>{{branch.name}}</h3>
                            <span>Code</span>
                            <h3>{{branch.code}}</h3>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Manager</h4>
                <div class="card">
                    <div *ngIf="!isEditManager else mangerForm" class="card-body">
                        <span class="pull-right">
                            <button (click)="editManager()" class="btn btn-light btn-icon btn-sm ">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button *ngIf="branch.managerId" [routerLink]="['/managers', branch.managerId]" class="btn btn-dark btn-sm">
                                <span class="fa fa-eye"></span>
                            </button>
                        </span>
                        <span *ngIf="branch.managerId else managerNA">
                            <span *ngIf="branch.manager.fullName">
                                <span>Full name</span>
                                <h4>{{branch.manager.fullName}}</h4>
                            </span>
                            <span *ngIf="branch.manager.email">
                                <span>Email</span>
                                <h4>{{branch.manager.email}}</h4>
                            </span>
                            <span *ngIf="branch.manager.username">
                                <span>Username</span>
                                <h4>{{branch.manager.username}}</h4>
                            </span>
                        </span>
                        <ng-template #managerNA>
                            <p>N/A</p>
                        </ng-template>
                    </div>
                    <ng-template #mangerForm>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <span *ngIf="!isLoadingManager else loadingManagerBlock">
                                        <select [(ngModel)]="selectedManagerId" class="form-control">
                                            <option [ngValue]="null">None</option>
                                            <option *ngFor="let m of managersPage.items" [ngValue]="m.id">
                                                {{m.username}}</option>
                                            </select>
                                    </span>
                                    <ng-template #loadingManagerBlock>
                                        <span class="fa fa-spinner fa-spin fa-pulse"></span>
                                    </ng-template>
                                </div>
                                <div class="col-md-8">
                                    <span class="pull-right">
                                        <span *ngIf="!savinghManager else savinghManagerLoader">
                                            <button (click)="cancelEditManager()" class="btn btn-default btn-icon btn-sm">cancle</button>
                                            <button (click)="saveBranchManager()" class="btn btn-primary btn-icon btn-sm ">save</button>
                                        </span>
                                        <ng-template #savinghManagerLoader>
                                            <span class="fa fa-spinner fa-spin fa-pulse"></span>
                                        </ng-template>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</div>
