<c-row>
    <c-col>
        <c-card *ngIf="isLoading else loadedBlock">
            <c-card-body>
                <c-spinner aria-hidden="true" label="Loading..." size="sm"></c-spinner> Loading...
            </c-card-body>
        </c-card>
        <ng-template #loadedBlock>
            <c-row *ngIf="(menus && menus.length > 0) else emptyMenuBlock" [gutter]="3" dragula="menus"
                [(dragulaModel)]="menus">
                <c-col [md]="6" *ngFor="let m of menus" class="">
                    <c-card class="d-flex flex-row">
                        <img [cCardImg] [src]="m.primaryImg" class="img-md">
                        <c-card-body class="d-flex flex-column">
                            <span class="d-flex justify-content-between">
                                <h6 cCardTitle class="text-truncate">{{m.title}}</h6>
                                <span>
                                    <app-input-switch [isLoading]="m.updatingAvailability" label="Is Available"
                                        [id]="m.id" [status]="m.isAvailable" (onChange)="onChangeAvailability($event)">
                                    </app-input-switch>
                                </span>
                            </span>
                            <p *ngIf="m.description" cCardText class="text-wrap">{{m.description}}</p>
                            <span class="d-flex justify-content-between">
                                <a cButton [routerLink]="[m.id]" color="light" size="sm" class="position-relative">
                                    <c-badge color="primary" shape="rounded-pill" class="position-absolute top-0 start-100 translate-middle">{{m.totalItems}}</c-badge>
                                    Items</a>
                            </span>
                        </c-card-body>
                    </c-card>
                </c-col>
            </c-row>
            <ng-template #emptyMenuBlock>
                <c-card>
                    <c-card-body>
                        Empty
                    </c-card-body>
                </c-card>
            </ng-template>
        </ng-template>
    </c-col>
</c-row>