<c-row>
    <c-col md="4">
        <c-row class="mb-3">
            <c-col>
                <span class="float-end">
                    <button cButton color="primary">Create Menu</button>
                </span>
            </c-col>
        </c-row>
        <c-row>
            <c-col>

                <ul flush=true cListGroup>
                    <li cListGroupItem class="d-flex justify-content-between align-items-center">
                        <span>
                            <h5 class="d-flex-inline">Starter</h5>
                            Good apetite
                        </span>
                        <c-badge color="primary" shape="rounded-pill" class="float-end">14</c-badge>
                    </li>
                    <li cListGroupItem class="d-flex justify-content-between align-items-center">
                        <span>
                            <h5 class="d-flex-inline">Starter</h5>
                            Good apetite
                        </span>
                        <c-badge color="primary" shape="rounded-pill" class="float-end">14</c-badge>
                    </li>
                    <li cListGroupItem [active]="true" class="d-flex justify-content-between align-items-center">
                        <span>
                            <h5 class="d-flex-inline">Starter</h5>
                            Good apetite
                        </span>
                        <c-badge color="primary" shape="rounded-pill" class="float-end">14</c-badge>
                    </li>
                    <li cListGroupItem class="d-flex justify-content-between align-items-center">
                        <span>
                            <h5 class="d-flex-inline">Starter</h5>
                            Good apetite
                        </span>
                        <c-badge color="primary" shape="rounded-pill" class="float-end">14</c-badge>
                    </li>
                </ul>
            </c-col>
        </c-row>
    </c-col>
    <c-col md="8">
        <c-row class="mb-3">
            <c-col>
                <span class="float-end">
                    <button cButton color="primary">Create Item</button>
                </span>
            </c-col>
        </c-row>
        <c-row [md]="3" [gutter]="4">
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
            <c-col>
                <c-card>
                    <c-card-body>
                        <img cCardImg="top" src="http://localhost:3000/images/image1.jpg">
                        <h6 cCardTitle>Chicken chow mein</h6>
                        <c-badge color="danger">240 Pkr</c-badge>
                        <span class="float-end">
                            <button cButton size="sm" color="danger">add</button>
                        </span>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-col>
</c-row>