<c-card>
    <c-card-body>
        <c-row [xs]="1" [gutter]="3" class="mb-2">
            <c-col>
                <div>
                    <label cLabel class="label-sm">Search</label>
                    <input cFormControl [(ngModel)]="search" [typeahead]="results$" [adaptivePosition]="true"
                        [typeaheadAsync]="true" typeaheadOptionField="formatted_address"
                        (typeaheadOnSelect)="onSelectGeocodeAddress($event)" placeholder="Search" sizing="sm">
                </div>
            </c-col>
        </c-row>
        <c-row>
            <c-col #mapCol>
                <span *ngIf="apiLoaded">
                    <google-map height="360" width="760" [center]="mapCenter" (mapClick)="mapClick($event)">
                        <map-marker *ngIf="marker && marker.position" [position]="marker.position"
                            [options]="marker.options" [clickable]="true"></map-marker>
                    </google-map>
                </span>
            </c-col>
        </c-row>
        <c-row class="my-2">
            <c-col>
                <div>
                    <label cLabel class="label-sm">Address</label>
                    <input cFormControl [(ngModel)]="addressLine1" placeholder="Address" sizing="sm" >
                </div>
            </c-col>
        </c-row>
        <c-row [gutter]="3">
            <c-col>
                <div>
                    <label cLabel class="label-sm">Country</label>
                    <select cSelect [(ngModel)]="country" placeholder="Country" sizing="sm"
                        (ngModelChange)="onSelectCountry($event)">
                        <option value="undefined">Select Country</option>
                        <option *ngFor="let i of countryList" [ngValue]="i">{{i.name}}</option>
                    </select>
                </div>
            </c-col>
            <c-col>
                <div>
                    <label cLabel class="label-sm">State</label>
                    <select cSelect [(ngModel)]="state" placeholder="State" sizing="sm"
                        [disabled]="country == undefined" (ngModelChange)="onSelectState($event)">
                        <option value="undefined">Select State</option>
                        <option *ngFor="let i of stateList" [ngValue]="i">{{i.name}}</option>
                    </select>
                </div>
            </c-col>
            <c-col>
                <div>
                    <label cLabel class="label-sm">City</label>
                    <select cSelect [(ngModel)]="city" placeholder="City" sizing="sm"
                        [disabled]="state == undefined" (ngModelChange)="onSelectCity($event)" >
                        <option value="undefined">Select City</option>
                        <option *ngFor="let i of cityList" [ngValue]="i">{{i.name}}</option>
                    </select>
                </div>
            </c-col>
        </c-row>
        <!-- <c-row>
            <c-col>
            <input cFormControl readonly plaintext
                [(ngModel)]="formattedAddress"
                placeholder="House/Apartment/Flat no. street no, area, block"
                sizing="sm">
            </c-col>
        </c-row> -->
    </c-card-body>
    <c-card-footer>
        <span class="d-grid gap-2 d-flex float-end">
            <button cButton (click)="cancel()" color="light">Close</button>
            <button cButton (click)="save()" color="primary">Save</button>
        </span>
    </c-card-footer>
</c-card>