<c-card *ngIf="isLoading else loadedBlock">
    <c-card-body>
        <c-spinner aria-hidden="true" label="Loading..." size="sm"></c-spinner> Loading...
    </c-card-body>
</c-card>
<ng-template #loadedBlock>
    <ng-template [ngIf]="menu" [ngIfElse]="emptyMenuBlock">
        <span class="d-flex justify-content-between">
            <h3 cCardTitle>{{menu.title}}</h3>
            <span class="d-block-inline">
                <app-input-switch [isLoading]="updatingAvailableStatus" 
                    label="Is Available" [status]="menu.isAvailable" (onChange)="onChangeAvailability($event)"></app-input-switch>
                <!-- <a routerLink="edit" cButton color="light" size="sm">Edit</a> -->
            </span>
        </span>
        <c-card class="mb-4">
            <img *ngIf="menu.primaryImg" cImg rounded fluid [src]="menu.primaryImg" class="img-lg">
            <c-card-body class="">
                <p cCardText class="text-wrap">{{menu.description}}</p>
            </c-card-body>
        </c-card>
    </ng-template>
    <ng-template #emptyMenuBlock>
        <c-card>
            <c-card-body>
                Menu Not Selected
            </c-card-body>
        </c-card>
    </ng-template>
</ng-template>