<div class="animated fadeIn">
    <div class="row mb-4">
        <div class="col">
            <button routerLink="create" class="btn btn-primary pull-right">Register New Branch</button>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-body">
        </div>
    </div> -->
    <div class="card">
        <!-- <div class="card-header">
            <strong>Filter</strong>
            <div class="card-header-actions">
                <button class="btn btn-sm btn-default" (click)="isCollapsed = !isCollapsed">
                    <span class="fa animated" [ngClass]="isCollapsed ? 'fa-plus':'fa-minus'"></span>
                </button>
            </div>
        </div> -->
        <div class="card-body animated fadeIn" [collapse]="isCollapsed">
            <form [formGroup]="filterForm" (ngSubmit)="filter()">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="search">Search</label>
                        <input formControlName='search' class="form-control" type="search" placeholder="Search by name, code or address">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <table class="table table-hover table-hover-link">
            <thead>
                <th>Code</th>
                <th>Name</th>
                <th>Address</th>
                <th>Manager</th>
            </thead>
            <tbody>
                <tr *ngIf="pageLoading else elseBlock">
                    <td colspan="4" class="text-center">
                        <span class="fa fa-spinner fa-spin fa-pulse"></span>
                        Loading...
                    </td>
                </tr>
                <ng-template #elseBlock>
                    <ng-template #emptyBlock>
                        <td colspan="4" class="text-center">
                            Empty
                        </td>                        
                    </ng-template>
                    <ng-template [ngIf]="page && page.items && page.items.length > 0" [ngIfElse]="emptyBlock">
                        <tr *ngFor="let i of page.items" [routerLink]="[i.id]">
                            <td>{{i.code}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.address}}</td>
                            <td>
                                <app-then-na [content]="i.managerFullName"></app-then-na>
                            </td>
                        </tr>
                    </ng-template>
                </ng-template>
            </tbody>
        </table>
        <div class="row p-3">
            <div class="col">
                <pagination [totalItems]="page.total" [(ngModel)]="page.number" (pageChanged)="pageChanged($event)"
                [itemsPerPage]="page.size" class="m-0"></pagination>
            </div>
        </div>
    </div>
</div>