<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col class="">
                <span class="float-end">
                    <button cButton color="primary" routerLink="register">Register New Branch</button>
                </span>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
<!-- <c-card class="mb-4">
    <c-card-body>
    </c-card-body>
</c-card> -->
<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col>
                <form [formGroup]="form" (ngSubmit)="filter()">
                    <div cFormFloating>
                        <input cFormControl formControlName="search" name="search" type="search"
                            placeholder="Search by username, email or name" autofocus>
                        <label cLabel for="search">Search by code, name or address</label>
                    </div>
                </form>
            </c-col>
        </c-row>
        <c-row class="mt-3">
            <c-col>
                <c-card *ngIf="isLoading else showResult">
                    <c-card-body>
                        <c-spinner aria-hidden="true" label="Loading..."></c-spinner>
                    </c-card-body>
                </c-card>
                <ng-template #showResult>
                    <c-card *ngFor="let i of page.items; let last = last"
                        [ngClass]="{'border-bottom': !last, 'mb-2': last}" class="border-0 hover-bg-light">
                        <c-card-body>
                            <span class="d-flex justify-content-md-between flex-md-row flex-column">
                                <a class="d-flex flex-column flex-md-grow-1 text-decoration-none text-body"
                                    routerLink="{{i.id}}">
                                    <span class="d-flex fw-bold">{{i.code}}</span>
                                    <span *ngIf="i.name">{{i.name}}</span>
                                </a>
                                <span *ngIf="i.managerFullName"
                                    class="text-md-end fw-semibold">{{i.managerFullName}}</span>
                            </span>
                            <span class="d-flex gap-2 pt-2" *ngIf="i.address && (i.address.addressLine1 || i.address.formattedAddress)">
                                <span class="">
                                    <svg cIcon name="cilLocationPin"></svg>
                                </span>
                                <p *ngIf="i.address.addressLine1 else formattedAddress" class="fw-light mb-0">
                                    {{i.address.addressLine1}}
                                    <span *ngIf="i.address.cityName">, {{i.address.cityName}}</span>
                                    <span *ngIf="i.address.stateName">, {{i.address.stateName}}</span>
                                    <span *ngIf="i.address.countryName">, {{i.address.countryName}}</span>
                                </p>
                                <ng-template #formattedAddress>
                                    <p *ngIf="i.address.formattedAddress" class="fw-light mb-0">
                                        {{i.address.formattedAddress}}</p>
                                </ng-template>
                            </span>
                        </c-card-body>
                    </c-card>
                </ng-template>
                <pagination *ngIf="page && page.items && page.items.length > 0" [totalItems]="page.total"
                    [(ngModel)]="page.number" [itemsPerPage]="page.size" (pageChanged)="onPageChange($event)">
                </pagination>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>