<c-row>
    <c-col>
        <c-card>
            <c-card-body>
                <form>
                    <fieldset class="d-flex flex-column gap-3">
                        <div cFormFloating>
                            <input cFormControl id="addressLine1" placeholder="Flat/Apartment/Plot/Suit No">
                            <label cLabel id="addressLine1">Flat/Apartment/Plot/Suit No</label>
                        </div>
                        <div cFormFloating>
                            <input cFormControl id="streetAddress" placeholder="Street Address">
                            <label cLabel id="streetAddress">Street Address</label>
                        </div>
                        <div cFormFloating>
                            <input cFormControl id="nearLandmark" placeholder="Near Landmark">
                            <label cLabel id="nearLandmark">Near Landmard</label>
                        </div>
                        <c-row [gutter]="3">
                            <c-col md="6" sm="12">
                                <div cFormFloating>
                                    <input cFormControl id="city" placeholder="City" disabled value="Karachi">
                                    <label cLabel id="city">City</label>
                                </div>
                            </c-col>
                            <c-col md="6" sm="12">
                                <div cFormFloating>
                                    <input cFormControl id="state" placeholder="State" disabled value="Sindh">
                                    <label cLabel id="state">State</label>
                                </div>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col class="d-flex justify-content-end">
                                <button cButton>
                                    Register New Address
                                </button>
                            </c-col>
                        </c-row>
                    </fieldset>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
<c-row class="mt-2">
    <c-col>
        <c-card>
            <c-card-body class="d-flex justify-content-between">
                <a cButton variant="outline" routerLink="../cart">
                    <svg cIcon name="cilChevronLeft"></svg>
                    Customer
                </a>
                <a cButton variant="outline" routerLink="../address">
                    Continue
                    <svg cIcon name="cilChevronRight"></svg>
                </a>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>