<c-card *ngIf="isLoading else loadedBlock">
    <c-card-body>
        <c-spinner size="sm"></c-spinner> Loading...
    </c-card-body>
</c-card>
<ng-template #loadedBlock>
    <c-container class="mb-4 d-flex gap-2 p-2 flex-md-row flex-column justify-content-start bg-white sticky-top">
        <form class="d-flex flex-row gap-2" (ngSubmit)="searchToggle()">
            <span *ngIf="isSearch" class="d-flex flex-grow-1">
                <c-input-group>
                    <button cButton type="button" (click)="hideSearch()" color="light" size="">
                        <svg cIcon name="cilX" size="sm"></svg>
                    </button>
                    <input cFormControl [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search">
                </c-input-group>
            </span>
            <span>
                <button cButton type="submit" color="primary" size="">
                    <c-spinner size="sm" *ngIf="isSearching else searchIconBlock"></c-spinner>
                    <ng-template #searchIconBlock>
                        <svg cIcon name="cilSearch" size="sm"></svg>
                    </ng-template>
                </button>
            </span>
        </form>
        <c-nav class="d-flex gap-1" variant="pills">
            <c-nav-item *ngFor="let m of menus">
                <a (click)="scrollTo(m)" cNavLink class="menu-nav" id="menu-nav-{{m.id}}">{{m.title}}</a>
            </c-nav-item>
        </c-nav>
    </c-container>
    <c-row [gutter]="3" *ngFor="let m of menus; let i = index" class="mb-4 animate fade-in" id="menu-{{m.id}}">
        <c-col class="">
            <span class="d-flex gap-2 align-items-center py-2">
                <h4 class="my-0">{{m.title}}</h4>
                <span *ngIf="!m.isAvailable">
                    <c-badge color="dark" class="">Not Available</c-badge>
                </span>
            </span>
            <c-card class="mb-2 d-flex justify-content-between">
                <img [cCardImg] [src]="m.primaryImg" class="img-lg w-auto"
                    [ngClass]="{'img-gray-scale': !m.isAvailable}">
                <c-card-body *ngIf="m.description" class="align-self-stretch">
                    <!-- <h5 cCardTitle>{{m.title}}</h5> -->
                    <p cCardText class="text-truncate">{{m.description}}</p>
                </c-card-body>
            </c-card>
            <c-row [lg]="3" [md]="3" [sm]="1" [gutter]="2">
                <c-col *ngFor="let mi of m.items">
                    <c-card class="d-flex flex-row hover-primary" [ngClass]="{'text-muted': !mi.isAvailable}">
                        <img [cCardImg] [src]="mi.primaryImg" class="img-md"
                            [ngClass]="{'img-gray-scale': !mi.isAvailable}">
                        <!-- <c-card class="flex-grow-1 border-0 rounded-0 rounded-end"> -->
                            <c-card-body class="d-flex flex-column text-truncate">
                                <span class="d-flex justify-content-between">
                                    <h6 cCardTitle>{{mi.title}}</h6>
                                </span>
                                <p *ngIf="mi.description" cCardText class="fw-normal mb-1" 
                                    [ngClass]="{'text-truncate': mi.descriptionTruncated, 'text-wrap': !mi.descriptionTruncated}"  (click)="changeDescriptionStyle(mi)" >{{mi.description}}</p>
                                <span class="d-flex flex-grow-1"></span>
                                <small class="fw-semibold">{{mi.unit}}</small>
                                <span class="d-flex flex-lg-row flex-sm-row flex-column align-items-end justify-content-sm-between gap-2">
                                    <span class="d-flex flex-column gap-1">
                                        <span>
                                            <c-badge *ngIf="mi.oldPrice" color="dark" shape="rounded-pill">
                                                <span class="text-decoration-line-through">
                                                    {{ mi.oldPrice | currency:'Pkr '}}
                                                </span>
                                            </c-badge>
                                        </span>
                                        <span>
                                            <c-badge color="primary" shape="rounded-pill">
                                                <span>
                                                    {{ mi.price | currency:'Pkr '}}
                                                </span>
                                            </c-badge>
                                        </span>
                                    </span>
                                    <span class="d-block">
                                        <button cButton (click)="addToCart(mi)" size="sm"
                                            *ngIf="mi.isAvailable else notAvailable"
                                            [ngClass]="{'btn-light': mi.quantity, 'btn-primary': !mi.quantity}"
                                            class="position-relative">
                                            <span *ngIf="mi.quantity && mi.quantity > 0 else addToCartBlock">
                                                Add more
                                            </span>
                                            <ng-template #addToCartBlock>
                                                Add to Cart
                                            </ng-template>
                                            <!-- <svg cIcon name="cilCart" size="sm"></svg> -->
                                            <c-badge *ngIf="mi.quantity && mi.quantity > 0" color="primary"
                                                shape="rounded-pill"
                                                class="position-absolute top-0 start-100 translate-middle">
                                                {{mi.quantity}}</c-badge>
                                        </button>
                                        <ng-template #notAvailable>
                                            <span>
                                                <c-badge color="light" class="text-dark">Not Available</c-badge>
                                            </span>
                                        </ng-template>
                                    </span>
                                </span>
                            </c-card-body>
                        <!-- </c-card> -->
                    </c-card>
                </c-col>
            </c-row>
        </c-col>
    </c-row>
</ng-template>