<router-outlet></router-outlet>
<c-modal #commonAlertModal id="commonAlertModal" 
    alignment="center" backdrop="static">
    <!-- <c-modal-header>
    </c-modal-header> -->
    <c-modal-body class="text-center">
        <c-row>
            <c-col>
                <h4 cModalTitle class="py-3">
                    Error
                </h4>
            </c-col>
        </c-row>
        <c-row>
            <c-col>
                <p class="py-3">
                    Something gone wrong                
                </p>
            </c-col>
        </c-row>
        <button cButton cModalToggle="commonAlertModal" color="default" sizing="sm">CLOSE</button>
    </c-modal-body>
    <!-- <c-modal-footer>
    </c-modal-footer> -->
</c-modal>