<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="6">
                <c-card class="p-4">
                    <c-card-body>
                        <c-alert [color]="alert.type" [(visible)]="alert.visible" [dismissible]="true">
                            <h6 cAlertHeading>{{alert.title}}</h6>
                            <p class="m-0" *ngIf="alert.message">{{alert.message}}</p>
                        </c-alert>
                        <form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
                            <h1>Reset Password</h1>
                            <p class="text-medium-emphasis">Create your new account</p>
                            <fieldset [disabled]="isLoading">
                                <div cFormFloating class="mb-3">
                                    <input formControlName="password" cFormControl id="password" placeholder="password"
                                    [valid]="form.controls['password'].valid" type="password">
                                    <label cLabel id="password">Password</label>
                                    <app-input-error [control]="form.controls['password']"></app-input-error>
                                </div>
                                <div cFormFloating class="mb-3">
                                    <input cFormControl formControlName="confirmPassword" 
                                    [valid]="form.valid" id="confirm-password" placeholder="password" type="password">
                                    <label cLabel id="confirmPassword">Confirm Password</label>
                                    <app-input-error [control]="form"></app-input-error>
                                </div>
                                <c-row>
                                    <c-col xs="12" class="d-grid">
                                        <button cButton type="submit" color="primary">
                                            <span *ngIf="isLoading else elseBlock">
                                                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                                                Saving...
                                            </span>
                                            <ng-template #elseBlock>
                                                Save
                                            </ng-template>
                                        </button>
                                    </c-col>
                                </c-row>
                            </fieldset>
                        </form>
                        <hr>
                        <div class="d-grid gap-2">
                            <button cButton routerLink="/forget/password" color="link">
                                Forget Password
                            </button>
                            <button cButton routerLink="/login" color="primary">
                                Login
                            </button>
                        </div>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>