<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col class="">
                <span class="float-end">
                    <button cButton color="primary" routerLink="register">Register New Manager</button>
                </span>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
<c-card class="mb-4">
    <c-card-body>
        <c-row>
            <c-col>
                <form [formGroup]="form" (ngSubmit)="filter()">
                    <div cFormFloating>
                        <input cFormControl formControlName="search" name="search" type="search" placeholder="Search by username, email or name" autofocus>
                        <label cLabel for="search">Search by username, email or name</label>
                    </div>
                </form>
            </c-col>
        </c-row>
        <!-- <hr> -->
        <c-row class="mt-3">
            <c-col class="">
                <c-card *ngIf="isLoading else showResult">
                    <c-card-body>
                        <c-spinner aria-hidden="true" label="Loading..."></c-spinner>
                    </c-card-body>
                </c-card>
                <ng-template #showResult>
                    <c-card *ngFor="let i of page.items; let last = last" [ngClass]="{'table-dark': !i.enabled, 'border-bottom': !last, 'mb-2': last}" class="border-0 hover-bg-light">
                        <c-card-body>
                            <span class="d-flex justify-content-md-between flex-md-row flex-column">
                                <span class="flex-md-grow-1">
                                    <span class="d-flex gap-2">
                                        <app-user-active-switch [user]="i"></app-user-active-switch>
                                        <span class="d-flex flex-column gap-2">
                                            <a class="d-flex text-decoration-none text-body fw-bold" routerLink="{{i.id}}">{{i.username}}</a>
                                            <span *ngIf="i.fullName">{{i.fullName}}</span>
                                        </span>
                                    </span>
                                </span>
                                <span class="d-flex text-end fw-semibold">{{i.branchName}}</span>
                            </span>
                        </c-card-body>
                    </c-card>
                </ng-template>
                <pagination *ngIf="page && page.items && page.items.length > 0" [totalItems]="page.total" [(ngModel)]="page.number" [itemsPerPage]="page.size"
                 (pageChanged)="onPageChange($event)"></pagination>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>

