<c-card *ngIf="isLoading else loadedBlock">
    <c-card-body>
        <c-spinner aria-hidden="true" label="Loading..." size="sm"></c-spinner> Loading...
    </c-card-body>
</c-card>
<ng-template #loadedBlock>
    <ng-template [ngIf]="menuItems && menuItems.length > 0" [ngIfElse]="emptyblock">
        <c-row [md]="2" [sm]="1" [gutter]="2" [(dragulaModel)]="menuItems" dragula="menuItems">
            <c-col *ngFor="let i of menuItems">
                <c-card>
                    <c-card-body>
                        <img *ngIf="i.primaryImg" [cCardImg] class="mb-3" [src]="i.primaryImg">
                        <span class="d-flex justify-content-between">
                            <h6>{{i.title}}</h6>
                            <a [routerLink]="[i.id, 'edit']" cButton color="light" size="sm">Edit</a>
                        </span>
                        <p>{{i.description}}</p>
                        <div class="d-flex d-grid gap-2 justify-content-between align-items-center">
                            <span class="d-flex d-grid gap-2">
                                <span *ngIf="i.oldPrice">
                                    <!-- <small>Old Price</small> -->
                                    <c-badge color="dark" shape="rounded-pill">
                                        <span class="text-decoration-line-through">
                                            {{ i.oldPrice | currency:'Pkr '}}
                                        </span>
                                    </c-badge>
                                </span>
                                <span>
                                    <c-badge color="primary" shape="rounded-pill">{{i.price | currency:'Pkr '}}</c-badge>
                                </span>
                            </span>
                            <span>
                                <app-upload-button (imageChange)="updateImages($event)" size="sm" label='Update Image' [id]="i.id"></app-upload-button>
                            </span>
                        </div>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </ng-template>
    <ng-template #emptyblock>        
        <c-card>
            <c-card-body>
                Empty Menu Items
            </c-card-body>
        </c-card>
    </ng-template>
</ng-template>