<c-row>
    <c-col>
        <c-nav variant="pills">
            <c-nav-item *ngFor="let n of statusNav">
                <a [routerLink]="['../', n.status]" cNavLink routerLinkActive="active">
                    {{ n.status }}
                    <span>
                        <c-badge color="danger" shape="rounded-pill">
                            {{n.total}}
                        </c-badge>
                    </span>
                </a>
            </c-nav-item>
        </c-nav>
    </c-col>
</c-row>
<c-row class="mt-3">
    <c-col>
        <c-card *ngFor="let order of page.items" class="mb-2">
            <c-card-body [routerLink]="['../', 'detail', order.id]">
                <span class="d-flex justify-content-between">
                    <span class="d-flex gap-2 flex-row">
                        <span class="fw-bold">
                            #{{order.id}}
                        </span>
                        <span class="d-flex flex-column">
                            <span *ngIf="order.salesperson" class="fw-semibold">
                                {{order.salesperson.fullName}}
                            </span>
                            <span *ngIf="order.branch" class="fw-regular" cTooltip="Branch">
                                <!-- <svg cIcon name="cilPhone"></svg> -->
                                {{order.branch.name}}
                            </span>
                            <span *ngIf="order.customer" class="fw-regular" cTooltip="Contant Number">
                                <svg cIcon name="cilPhone"></svg>
                                {{order.customer.cellNumber}}
                            </span>
                            <span *ngIf="order.isDelivery && order.address" class="fw-regular" cTooltip="Delivery Address">
                                <span class="">
                                    <svg cIcon name="cilLocationPin"></svg>
                                    {{order.address.formattedAddress}}
                                </span>
                            </span>
                        </span>
                    </span>
                    <span class="d-flex flex-column align-items-end">
                        <span class="fw-semibold">
                            {{order.total | currency: 'Pkr '}}
                        </span>
                        <span class="d-flex gap-2 align-items-center">
                            <svg cIcon name="cilClock"></svg>
                            <small *ngIf="order.updatedOn else createdOnBlock">{{order.updatedOn | date:'hh:mm a / MMM dd, YYYY'}}</small>
                            <ng-template #createdOnBlock>
                                <small>{{order.createdOn | date:'hh:mm a / MMM dd, YYYY'}}</small>
                            </ng-template>
                        </span>
                    </span>
                </span>
            </c-card-body>
            <c-card-footer *ngIf="order.id && order.status == 'PENDING'" class="d-flex justify-content-end">
                <button (click)="cancelOrder(order.id)" cButton color="danger" size="sm">Cancel</button>
            </c-card-footer>
        </c-card>
    </c-col>
</c-row>
<c-row class="mt-2" *ngIf="page && page.items && page.items.length > 0">
    <c-col>
        <pagination *ngIf="page && page.items && page.items.length > 0" [totalItems]="page.total"
            [(ngModel)]="page.number" [itemsPerPage]="page.size" (pageChanged)="onPageChange($event)"></pagination>
    </c-col>
</c-row>