<!--sidebar-->
<c-sidebar #sidebar="cSidebar" class="sidebar sidebar-fixed sidebar-end bg-white border-start shadow-left hide"
    id="sidebarId" size="xl">
    <c-sidebar-brand class="border-bottom border-bottom-1 bg-white d-flex flex-row px-3 gap-2">
        <!-- <button cButtonClose (click)="sideBarClose()"></button> -->
        <!-- <div class="d-flex d-grid p-2 gap-2 align-items-center" *ngIf="cart"> -->
        <button cButton (click)="emptyCart()" color="danger" variant="outline" class="flex-grow-1">
            Remove all
        </button>
        <a cButton toggle="visible" cSidebarToggle="sidebarId" color="white" variant="outline" class="pe-0">
            <svg cIcon name="cilCaretRight"></svg>
        </a>
        <!-- </div> -->
    </c-sidebar-brand>
    <!-- <c-sidebar-nav [navItems]="navItems"></c-sidebar-nav> -->
    <!-- <c-sidebar-toggler></c-sidebar-toggler> -->
    <ng-template [ngIf]="cart">
        <perfect-scrollbar [config]="perfectScrollbarConfig">
            <span class="d-flex flex-column px-3">
                <c-card *ngFor="let i of cart.items; let first = first" class="rounded-0 border-0 text-dark"
                    [ngClass]="{'border-top border-top-1': !first}">
                    <c-card-body class="px-0 flex-column gap-2">
                        <span class="d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center gap-2">
                                <img cImg class="img-xs rounded-3" [src]="i.primaryImg">
                                <h6 class="mb-0">{{i.title}}</h6>
                            </span>
                            <span class="d-flex">
                                <button (click)="removeItemFromCart(i)" cButton color="danger" variant="ghost"
                                    size="sm">
                                    <svg cIcon name="cilX" size="sm"></svg>
                                </button>
                            </span>
                        </span>
                        <span class="d-flex gap-2 align-items-center">
                            <small *ngIf="i.unit" class="fw-regular">{{i.unit}} x </small>
                            <small *ngIf="i.price" class="fs-6 fw-regular">{{i.price | currency:'Pkr. '}}</small>
                            <!-- <p class="fs-6 fw-medium my-0 text-end"> {{i.price | currency:'Pkr. '}}</p>
                            <p class="fs-6 fw-medium my-0 text-end"> {{i.price | currency:'Pkr. '}}</p> -->
                        </span>
                        <span class="d-flex justify-content-between align-items-center">
                            <span class="align-items-center">
                                <button cButton (click)="reduceItemInCart(i)" size="sm" color="danger"
                                    class="rounded-0 rounded-start">
                                    <svg cIcon name="cilMinus" size="sm"></svg>
                                </button>
                                <a cButton color="light" class="border broder-0 rounded-0" size="sm">
                                    {{i.quantity}}
                                </a>
                                <button cButton (click)="addItemToCart(i)" size="sm" color="danger"
                                    class="rounded-0 rounded-end">
                                    <svg cIcon name="cilPlus" size="sm"></svg>
                                </button>
                            </span>
                            <!-- <span class="d-flex flex-column flex-grow-1 gap-2">
                            </span> -->
                            <span>
                                <c-badge color="danger">
                                    <span class="fs-6 fw-semibold">{{i.total | currency: 'Pkr. '}}</span>
                                </c-badge>
                            </span>
                        </span>
                    </c-card-body>
                </c-card>
            </span>
        </perfect-scrollbar>
    </ng-template>
    <div class="border-top d-grid p-2" *ngIf="cart">
        <button cButton (click)="checkout()" class="align-items-center text-center gap-2" color="danger">
            <span class="fw-bolder">
                CHECKOUT
            </span>
            <span class="fs-6 fw-bolder">{{cart.total | currency: 'Pkr. '}}</span>
            <!-- <c-badge color="danger" class="">
            </c-badge> -->
        </button>
    </div>
</c-sidebar>

<!--main-->

<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
    <!--app-header-->
    <app-web-header [user]="user" [totalItemsInCart]="totalItemsInCart" class="d-print-none header header-sticky"
        position="sticky" sidebarId="sidebar"></app-web-header>

    <c-carousel [interval]="5000" transition="slide" class="">
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
                <img [src]="slide.src" alt="{{slide.title}}" class="d-block img-banner w-100" loading="lazy" />
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>

    <!--app-body-->
    <div class="body flex-grow-1 px-3">
        <c-container breakpoint="lg" class="h-auto">
            <router-outlet></router-outlet>
        </c-container>
    </div>
    <!--app footer-->
    <app-default-footer class="py-3"></app-default-footer>
</div>