// Here you can add other styles
.float-right {
    float: right;
}

.btn-danger,
.btn-dark,
.btn-secondary,
.btn-success,
.btn-info {
    color: $gray-100;
    
    &:hover, &:active, &:focus {
        color: $white;
    }
}

.btn-outline-danger,
.btn-ghost-danger {
    &:hover, &:active, &:focus {
        color: $white;
    }
}

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.card[ng-reflect-router-link] {
    &:hover {
        cursor: pointer;
        border: 1px solid $gray-700;
    }
}

img {
    &.img-xs {
        height: 32px;
        width: 32px;
        object-fit: cover;
    }
    &.img-sm {
        height: 64px;
        width: 64px;
        object-fit: cover;
        &.w-auto {
            width: auto;
        }
    }
    &.img-md {
        height: 128px;
        width: 128px;
        object-fit: cover;    
        &.w-auto {
            width: auto;
        }
    }
    &.img-lg {
        height: 196px;
        width: 196px;
        object-fit: cover;    
        &.w-auto {
            width: auto;
        }
    }
}

c-sidebar {
    &.shadow-left {
        &:not(.hide) {
            box-shadow: 0px 0px 20px 0px $gray-700;
        }
    }
}


img {
    &.img-gray-scale {
        filter: grayscale(100);
    }
}