<div class="animated fadeIn">
    <div class="row" *ngIf="isLoading else elseBlock">
        <div class="col">
            <span class="fa fa-spinner fa-spin fa-pulse"></span>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="row">
            <div class="col">
                <app-user-profile-card title="Manager" [user]="manager" (updateUser)="onUpdateUser($event)"></app-user-profile-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Branch</h4>
                <div class="card">
                    <div *ngIf="!isEditBranch else branchForm" class="card-body">
                        <span class="pull-right">   
                            <button (click)="editBranch()" class="btn btn-light btn-sm ">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button *ngIf="manager.branchId" [routerLink]="['/branches', manager.branchId]" class="btn btn-dark btn-sm">
                                <span class="fa fa-eye"></span>
                            </button>
                        </span>
                        <span *ngIf="manager.branchId else branchNA">
                            <span>Name</span>
                            <h3>{{manager.branch.name}}</h3>
                            <span>Code</span>
                            <h3>{{manager.branch.code}}</h3>
                        </span>
                        <ng-template #branchNA>
                            <span>Not Assigned</span>
                        </ng-template>
                    </div>
                    <ng-template #branchForm>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <span *ngIf="!isLoadingBranch else loadingBranchBlock">
                                        <select [(ngModel)]="selectedBranchId" class="form-control">
                                            <option [ngValue]="null">None</option>
                                            <option *ngFor="let b of branchPage.items" [ngValue]="b.id">
                                                {{b.code}} ({{b.name}})</option>
                                            </select>
                                    </span>
                                    <ng-template #loadingBranchBlock>
                                        <span class="fa fa-spinner fa-spin fa-pulse"></span>
                                    </ng-template>
                                </div>
                                <div class="col-md-8">
                                    <span class="pull-right">
                                        <span *ngIf="!savingBranchManager else savingBranchManagerLoader">
                                            <button (click)="cancleEditBranch()" class="btn btn-default btn-icon btn-sm">cancle</button>
                                            <button (click)="saveBranchManager()" class="btn btn-primary btn-icon btn-sm ">save</button>
                                        </span>
                                        <ng-template #savingBranchManagerLoader>
                                            <span class="fa fa-spinner fa-spin fa-pulse"></span>
                                        </ng-template>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</div>