<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="mb-4">Register New Manager</h1>
                <alert *ngFor="let a of alerts" [type]="a.type" dismissible='true'>
                    <h5>{{a.title}}</h5>
                    <hr>
                    {{a.message}}
                </alert>
                <tabset justified="true" #formTabs>
                    <tab heading="Step 1" id="username-tab">
                        <form [formGroup]="form_1" (ngSubmit)="onSumbitForm1()">
                            <fieldset [disabled]="isForm1Saving">
                                <div class="form-group">
                                    <label>username</label>
                                    <input formControlName="username" class="form-control" type="text" autofocus >
                                    <app-input-error-helper [control]="form_1.controls.username"></app-input-error-helper>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary pull-right">Register</button>
                                    </div>
                                </div>                                
                            </fieldset>
                        </form>
                    </tab>
                    <tab heading="Step 2" id="password-tab" disabled="false" >
                        <form [formGroup]="form_2" (ngSubmit)="onSumbitForm2()">
                            <fieldset [disabled]="isForm2Saving">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input formControlName="password" class="form-control" type="password" autocomplete="false" >
                                    <app-input-error-helper [control]="form_2.controls.password"></app-input-error-helper>
                                </div>
                                <div class="form-group">
                                    <label>Confrm Password</label>
                                    <input formControlName="confirmPassword" class="form-control" type="password" autocomplete="false">
                                    <app-input-error-helper [control]="form_2.controls.confirmPassword"></app-input-error-helper>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span class="pull-right">
                                            <button (click)="skipForm2()" type="button" class="btn btn-light">Skip</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </span>
                                    </div>
                                </div>        
                            </fieldset>
                        </form>
                    </tab>
                  </tabset>
            </div>
        </div>
    </div>
</div>
