<c-row class="justify-content-center mb-3" >
    <c-col id="item-form">
        <c-card>
            <c-card-body>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset [disabled]="isSaving">
                        <c-row>
                            <c-col>
                                <div class="mb-3" cFormFloating>
                                    <input cFormControl formControlName="title" [valid]="form.controls['title'].valid" id="title" placeholder="Title" type="text" autofocus>
                                    <label cLabel for="title">Title</label>
                                    <app-input-error [control]="form.controls['title']"></app-input-error>
                                </div>                                
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col sm="4">
                                <div class="mb-3" cFormFloating>
                                    <input cFormControl formControlName="price" [valid]="form.controls['price'].valid" id="price" placeholder="Price" type="number">
                                    <label cLabel for="price">Price</label>
                                    <app-input-error [control]="form.controls['price']"></app-input-error>
                                </div>
                            </c-col>
                            <c-col sm="4">
                                <div class="mb-3" cFormFloating>
                                    <input cFormControl formControlName="oldPrice" id="oldPrice" placeholder="Old Price" type="number">
                                    <label cLabel for="oldPrice">Old Price</label>
                                </div>
                            </c-col>
                            <c-col sm="4">
                                <div class="mb-3" cFormFloating>
                                    <select cSelect formControlName="unitId" id="unit" placeholder="Unit" (change)="onSelectUnit($event)">
                                        <option [ngValue]="undefined">None</option>
                                        <option *ngFor="let miu of menuItemUnits" [value]="miu.id">{{miu.title}}</option>
                                        <option value="create">Create</option>
                                    </select>
                                    <label cLabel for="unit">Unit</label>
                                </div>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col>
                                <div class="mb-3" cFormFloating>
                                    <textarea cFormControl formControlName="description" id="description" placeholder="Description" type="text"></textarea>
                                    <label cLabel for="description">Description</label>
                                </div>
                            </c-col>
                        </c-row>
                        <div class="">
                            <span class="d-grid gap-2 d-flex float-end">
                                <button (click)="close()" cButton type="button" color="light">Close</button>
                                <button (click)="reset()" cButton type="button" color="secondary">Reset</button>
                                <button xcButton [loading]="isSaving" loadingLabel="Saving..." type="submit">Save</button>
                            </span>
                        </div>
                    </fieldset>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>