<c-card class="mb-4">
    <c-card-body>
        <c-alert [color]="alert.type" [(visible)]="alert.visible" [dismissible]="true">
            <h6 cAlertHeading>{{alert.title}}</h6>
            <p class="m-0" *ngIf="alert.message">{{alert.message}}</p>
        </c-alert>
        <c-row class="mb-3">
            <ng-template [ngIf]="!isEditProfile" [ngIfElse]="editProfileForm">
                <c-col>
                    <small class="d-flex">Full name</small>
                    <strong *ngIf="user.fullName else na">{{user.fullName}}</strong>
                    <ng-template #na>
                        <strong>N/A</strong>
                    </ng-template>
                </c-col>
                <c-col xs="1" class="">
                    <button (click)="editProfile()" cButton size="sm" color="light" class="float-end">Edit</button>
                </c-col>
            </ng-template>
            <ng-template #editProfileForm>
                <c-col>
                    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                        <fieldset [disabled]="savingProfile">
                            <c-row>
                                <c-col sm="8">
                                    <div class="d-grid gap-2 d-flex">
                                        <input cFormControl formControlName="firstName" name="firstName"
                                            placeholder="First Name" type="text">
                                        <input cFormControl formControlName="lastName" name="lastName"
                                            placeholder="Last Name" type="text">
                                    </div>
                                </c-col>
                                <c-col sm="4">
                                    <span class="float-end">
                                        <button cButton type="button" (click)="cancelEditProfile()"
                                            color="light">Cancel</button>
                                        <button xcButton [loading]="savingProfile" loadingLabel="Saving..." type="submit" class="ml-2">
                                            Save
                                        </button>
                                    </span>
                                </c-col>
                            </c-row>
                        </fieldset>
                    </form>
                </c-col>
            </ng-template>
        </c-row>
        <hr>
        <c-row>
            <ng-template [ngIf]="!isEditUser" [ngIfElse]="editUserForm">
                <c-col>
                    <small class="d-flex">Email</small>
                    <strong>{{user.email}}</strong>
                </c-col>
                <c-col xs="1" class="">
                    <button cButton (click)="editUser()" size="sm" color="light" class="float-end">Edit</button>
                </c-col>
            </ng-template>
            <ng-template #editUserForm>
                <c-col>
                    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
                        <fieldset [disabled]="savingUser">
                            <c-row>
                                <c-col sm="8">
                                    <div>
                                        <input cFormControl formControlName="email"
                                            [valid]="userForm.controls['email'].valid" name="email" placeholder="Email"
                                            type="email">
                                        <app-input-error [control]="userForm.controls['email']"></app-input-error>
                                    </div>
                                </c-col>
                                <c-col sm="4">
                                    <span class="float-end">
                                        <button cButton type="button" (click)="cancelEditUser()" 
                                            color="light">Cancel</button>
                                        <button xcButton [loading]="savingUser" loadingLabel="Saving..." type="submit"  class="ml-2">
                                            Save
                                        </button>
                                    </span>
                                </c-col>
                            </c-row>
                        </fieldset>
                    </form>
                </c-col>
            </ng-template>
        </c-row>
        <hr>
        <ng-template [ngIf]="!isUpdatePassword" [ngIfElse]="editUpdatePasswordForm">
            <c-row>
                <c-col>
                    <small class="d-flex">Password update</small>
                    <strong *ngIf="user.lastPasswordUpdate else notUpdated">{{user.lastPasswordUpdate}}</strong>
                    <ng-template #notUpdated>
                        <strong>Not updated</strong>
                    </ng-template>
                </c-col>
                <c-col xs="6" class="">
                    <button cButton (click)="editUpdatePassword()" size="sm" color="light" class="float-end">Change
                        Password</button>
                </c-col>
            </c-row>
            <c-row>
                <c-col>
                    <small class="d-flex">Last login</small>
                    <strong *ngIf="user.lastLogin else notLoggedIn">{{user.lastLogin}}</strong>
                    <ng-template #notLoggedIn>
                        <strong>Not logged in</strong>
                    </ng-template>
                </c-col>
            </c-row>
        </ng-template>
        <ng-template #editUpdatePasswordForm>
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
                <fieldset [disabled]="updatingPassword">
                    <c-row>
                        <c-col sm="8">
                            <div class="d-grid gap-2 d-flex">
                                <input cFormControl formControlName="password" [valid]="passwordForm.controls['password'].valid" name="password" placeholder="Password"
                                    type="password">
                                <input cFormControl formControlName="confirmPassword" [valid]="passwordForm.valid" name="confirmPassword"
                                    placeholder="Confirm Password" type="password">
                            </div>
                            <app-input-error [control]="passwordForm"></app-input-error>
                        </c-col>
                        <c-col sm="4">
                            <span class="float-end">
                                <button cButton type="button" (click)="cancelUpdatePassword()" 
                                    color="light">Cancel</button>
                                <button xcButton [loading]="updatingPassword" loadingLabel="Saving..." type="submit" class="ml-2">
                                    Save
                                </button>
                            </span>
                        </c-col>
                    </c-row>
                </fieldset>
            </form>
        </ng-template>
    </c-card-body>
</c-card>