<c-row class="justify-content-center">
    <c-col md="8">
        <c-card class="mb-4">
            <c-card-body>
                <c-alert [color]="alert.type" [(visible)]="alert.visible" [dismissible]="true">
                    <h6 cAlertHeading>{{alert.title}}</h6>
                    <p class="m-0" *ngIf="alert.message">{{alert.message}}</p>
                </c-alert>
                <form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
                    <!-- <h1 class="mb-3">Register New Manager</h1> -->
                    <fieldset [disabled]="isLoading">
                        <c-row>
                            <c-col>
                                <div cFormFloating class="mb-3">
                                    <input formControlName="username" cFormControl [valid]="form.controls['username'].valid"
                                        id="username" placeholder="enter your username or email" autofocus>
                                    <label cLabel id="username">Username</label>
                                    <app-input-error [control]="form.controls['username']"></app-input-error>
                                </div>
                            </c-col>
                        </c-row>
                        <c-row>
                            <c-col>
                                
                                <div cFormFloating class="mb-3">
                                    <input formControlName="password" cFormControl
                                        id="password" placeholder="password" type="password">
                                    <label cLabel id="password">Password</label>
                                    <app-input-error [control]="form.controls['password']"></app-input-error>
                                </div>
                            </c-col>
                            <c-col>
                                <div cFormFloating class="mb-3">
                                    <input formControlName="confirmPassword" cFormControl
                                    id="confirmPassword" placeholder="confirmPassword" type="password">
                                    <label cLabel id="confirmPassword">Confirm Password</label>
                                    <app-input-error [control]="form"></app-input-error>
                                </div>
                            </c-col>
                        </c-row>
                        <p *ngIf="!form.controls['password'].value">Note: by default password will be same as username: {{form.controls['username'].value}}</p>
                        <c-row>
                            <c-col>
                                <span class="d-flex d-grid gap-2 float-end">
                                    <button (click)="location.back()" cButton type="button" color="light">
                                        Cancel
                                    </button>
                                    <button xcButton [loading]="isLoading" loadingLabel="Registering..." type="submit" color="primary">
                                        Register
                                    </button>
                                </span>
                            </c-col>
                        </c-row>
                    </fieldset>
                </form>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
